body {
  background-color: #0f172a;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  text-align: center;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
}

#clock {
  font-size: 40px;
  margin-top: 10px;
}

#date {
  font-size: 20px;
  margin-top: 10px;
}
